<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/medium-style.css">
</head>

<body>
    <!-- 導覽列 -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Recent Posts</a></li>
                <li><a href="{{ site.baseurl }}/categories/setup-basics/">Setup & Basics</a></li>
                <li><a href="{{ site.baseurl }}/categories/code-notes/">Code Notes</a></li>
                <li><a href="{{ site.baseurl }}/categories/algorithm-leetcode/">Algorithm & LeetCode</a></li>
            </ul>
        </nav>
    </header>
    <!-- 中間 -->
    <main>
        {{ content }}
    </main>
    <!-- 底部 -->
    <footer>
        <p>&copy; 2024 Your Name</p>
    </footer>
</body>

</html>
