<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/medium-style.css" | relative_url }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ "/" | relative_url }}">Recent Posts</a></li>
                <li><a href="{{ "/categories/setup-basics/" | relative_url }}">Setup & Basics</a></li>
                <li><a href="{{ "/categories/code-notes/" | relative_url }}">Code Notes</a></li>
                <li><a href="{{ "/categories/algorithm-leetcode/" | relative_url }}">Algorithm & LeetCode</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; 2024 Your Name</p>
    </footer>
</body>

</html>